# Azure subscription we use in preview
ARM_SUBSCRIPTION_ID="9b2bcf65-ea9d-4d11-8bab-fec67830b8c2"

# these Okta variables are specific to your Okta deployment
OKTA_ORG_NAME="knaufworld"  # if your Okta admin page is "https://dev-123-admin.okta.com/admin/dashboard", this variable should be "dev-123"
OKTA_BASE_URL="oktapreview.com" # if your Okta admin page is "https://dev-31964612-admin.okta.com/admin/dashboard", this variable should be "okta.com"
OKTA_API_TOKEN="xxxx"   # create a new token in Okta admin panel => Security/API from the sidebar => Tokens tab

# update those variables as you need
TF_VAR_deployment_env="preview"
TF_VAR_accountLinkURL="account.dev.knauf.digital"
TF_VAR_emailSubjectSuffix=" (dev)"
TF_VAR_supportEmail="app-support@knauf.com"
